html {
    background-color: #4b9e37;
}

* {
    color: black;
}

p {
    font-weight: 700;
}

#nav-bar {
    background-color:  rgba(0, 0, 0, 0.9);
    width: 50%;
    height: 10%;
    position: absolute;
    top: 88%;
    background-size: contain;
    display: inline-block;
    border-radius: 120px;
}

#nav-bar * {
    text-decoration: underline;
    color: #4b9e37;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

#other-info {
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 30px;
    padding-left: 30px;
}

#propo {
    font-size: 30px;
    position: absolute;
    top: 20%;
}

#intro h1 {
    left: 9%;
    position: relative;
}

#intro h6 {
    left: 30%;
    position: relative;
    font-size: 15px;
    margin-top: 0;
    width: 150px;
}
#intro {
    position: absolute;
    left: 15%;
    width: 500px;
    padding-left: 10px;
}

#intro p {
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.semi-circle-mask {
    width: 30vw; 
    height: 100vh;
    border-top-left-radius: 50vw;
    border-bottom-left-radius: 50vw;
    overflow: hidden;
    position: relative;
}

.semi-circle-mask img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%; 
    transform: translate(-50%, -50%);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000; 
    z-index: 1; 
}

.arrow.left {
    right: 31%; 
}

.italic {
    font-style: italic;
}

.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }